<label>Server name</label>
<input type="text"
       class="form-control"
       [(ngModel)]="serverName"/>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
        Add server
</button>
<p *ngIf="isServerCreated()">Server created: {{ serverName }}</p>
<app-server></app-server>
<app-server></app-server>

<input type="text"
       class="form-control"
       [(ngModel)]="username"/>
<p>{{ username }}</p>
<button [disabled]="username.length === 0"
        (click)="username = '';"
        class="btn btn-primary">
        Reset username
</button>
<br/>
<hr/>

<input type="checkbox" (click)="logToggleState()"/>
<p *ngIf="clicks % 2 === 0">Secret paragraph</p>
<p *ngFor="let log of logs"
   [ngStyle]="{backgroundColor: log > 4 ? 'blue': 'white'}"
   [ngClass]="{whiteText: log > 4}">clicked!</p>
